@import "libs/bootstrap-reboot";
@import "libs/font";
@import "libs/slick";

@import "base/mixins";
@import "base/variables";
@import "base/animations";

@import "blocks/template";

* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.container {
    max-width: 950px;
    margin: 0 auto;
}

@import "base/media";

